body {
    background-image: url(Img/imgFondos/imgVillaComienzo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
}